<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<body>
  <h1>Welcome to the Admin Dashboard!</h1>
  <div>
    <h2>Manage Users</h2>
    <button onclick="viewUsers()">View Users</button>
    <button onclick="addUser()">Add User</button>
    <button onclick="deleteusers()">Delete User</button>

  </div>
  <div>
    <h2>Manage Reservaions</h2>
    <button onclick="viewReservations()">View Products</button>
    <button onclick="addReservation()">Add Product</button>
  </div>
  
</body>
<script src="/js/bgrb.js"></script>
<button onclick="goToHomePage()">Home</button>

</html>
