<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Welcome to the Admin Dashboard!</h1>
  <div>
    <h2>Manage Users</h2>
    <button onclick="viewUsers()">View Users</button>
    <button onclick="addUser()">Add User</button>
    <button onclick="deleteusers()">Delete User</button>

  </div>
  <div>
    <h2>Manage Reservaions</h2>
    <button onclick="viewReservations()">View Products</button>
    <button onclick="addReservation()">Add Product</button>
  </div>
  
</body>
<script src="bgrb.js"></script>
<button onclick="goToHomePage()">Home</button>

</html>
