<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bgrb.css" />
  <title>Admin Dashboard</title>
  <header class="test">
  <div id="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;" >
  </div>
 \
</header>
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>

  <div class="container">
  <h1>Welcome to the Admin Dashboard!</h1>
  
    <h2>Manage Users</h2>
    <button onclick="viewUsers()" class="viewbut">View Users</button>
    <button onclick="addUser()" class="addbut">Add User</button>
    <button onclick="deleteusers()" class="deletebut">Delete User</button>

  
  
    <h2>Manage Reservations</h2>
    <button onclick="viewReservations()" class="vprobut">View reservations</button>
    <button onclick="addReservation()" class="adprobut">Add reservation</button>
  
  <button onclick="goToHomePage()" class="homebut">Home</button>
  </div>
  

<script src="/js/bgrb.js"></script>


</html>
