
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" />

  <title>Login</title>
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<body>
  <div class="container">
  <h1>Login</h1>
  

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
 
  <div class="select">
    <select name="UserType">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
      </select>
    </div>
  

    <input type="submit" value="Login" onclick="login()">
  </div>
  <div class="popup" id="popup">
    <img src="/images/WhatsApp Image 2024-04-29 at 11.01.35 PM.jpeg">
  <h1>Thank you!</h1>
  <p>Your details has been successfully submitted.Thanks !</p>
  <button type="button" onclick='closePopup()'>OK</button>
  </div>
</body>
<script src="/js/login.js"></script>



</html>
