
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css" />

  <title>Login</title>
  <title>Signup</title>
  <div id="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
  </div>
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<body>
  <div class="container">
  <h1>Login</h1>
  

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" placeholder="Username..." required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Password..." required><br><br>
    <label>UserType</label>
  <div class="select">
   
    <select name="UserType">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
      </select>
    </div>
  

    <input type="submit" value="Login" onclick="login()">
  </div>
  <div class="popup" id="popup">
    <img src="/images/WhatsApp Image 2024-04-29 at 11.01.35 PM.jpeg">
  <h1>Thank you!</h1>
  <p>Your details has been successfully submitted.Thanks !</p>
  <button type="button" onclick='closePopup()'>OK</button>
  </div>
  
  <div class="white-background"></div>
  <div class="menu-toggle" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </div>   

  <div class="menu-items" id="menuItems">
      <a href="SJAK">Home</a>
      <a href="mapmenu">Menu</a>
      <a href="#about-us-section">About Us</a>
      <a href="#contact-us-section">Contact Us</a>
      <a href="sign">Sign up</a>
      <a href="login">Login</a>
  </div>

  <div id="about-us-section">
    <h2>About Us</h2>
    <p>Welcome to SJAK, where since 2014, we've been blending the best of three cuisines from around the world.
         Our menu combines the vibrant spices of Turkish cuisine, the comforting classics of Greece, and the bold flavors of Lebanon. Come join us for an unforgettable dining experience where every dish tells a story and every bite is a journey..</p>
</div> 
  <div id="contact-us-section">
    <h2>Contact Us</h2>
    <p>For reservations, call us at: +1234567890</p>
    <p>Follow us on social media:</p>
    <ul>
        <img src="/images/Facebook-Logo.png" class="facimg">  <a href="facebook">Facebook</a>
        <br>
        <img src="/images/pngtree-three-dimensional-instagram-icon-png-image_9015419.png" class="instaimg">  <a href="Instagram">Instagram</a></li>
        <br>
        <img src="/images/png-clipart-twitter-twitter-thumbnail.png" class="instaimg">  <a href="Twitter">Twitter</a></li>
    </ul>
</div> 
</body>
<script src="/js/login.js"></script>



</html>
