<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Users</title>
  <link rel="stylesheet" href="/css/manage_users.css">
</head>
<body>
  <div class="container">
    <h1>Manage Users</h1>

  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- User rows will be dynamically inserted here -->
    </tbody>
  </table>
  </div>
  <div id="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
</div>
<style>
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        height:100vh;
        padding: 0;
        background-position: center;
        background-attachment: fixed;
        background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }
  </style>

  <script src="/js/manage_users.js"></script>
</body>
</html>
