<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Map Menu</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/mapwmenu.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <!-- <a href="/mapmenu">reserve</a> -->
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<body>
  <div id="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
  </div>
  <h1>
    Welcome to SJAK
    Discover delicious cuisines from around the world!
  </h1>
  <div id="map"></div>
  <div id="menuContainer" style="display: none;">
    <h2 id="menuTitle"></h2>
    <ul id="menuItems">
      <li>Menu item 1</li>
      <li>Menu item 2</li>
      <li>Menu item 3</li>
    </ul>
  </div>
  <div id="guessContainer" style="display: none;">
    <div class="container">
      <div class="Field-label"> 
    <h2>Guess the Country!</h2>
  </div>
  <div class="field">
    <input  class="textfield" type="text" id="guessInput" placeholder="Enter your guess...">
  </div>
    <button onclick="checkGuess()" class="subbut">Submit</button>
    <button onclick="skipGuess()" class="menubut">Skip and Show Menu</button> 
  </div>
  
  
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <script src="/js/mapmenu.js"></script>
  
</body>
</html>
