<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Map Menu</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="mapwmenu.css" />
  <a href="mapmenu.html">reserve</a>

</head>
<body>
  <div id="logo">
    <img src="C:\Users\DELL\Documents\GitHub\project\views\Untitled-1.png" alt="Logo" style="width: 100%;">
  </div>
  <h1>
    Welcome to SJAK
    Discover delicious cuisines from around the world!
  </h1>
  <div id="map"></div>
  <div id="menuContainer" style="display: none;">
    <h2 id="menuTitle"></h2>
    <ul id="menuItems">
      <li>Menu item 1</li>
      <li>Menu item 2</li>
      <li>Menu item 3</li>
    </ul>
  </div>
  <div id="guessContainer" style="display: none;">
    <h2>Guess the Country!</h2>
    <input type="text" id="guessInput" placeholder="Enter your guess...">
    <button onclick="checkGuess()">Submit</button>
    <button onclick="skipGuess()">Skip and Show Menu</button>
  </div>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="mapmenu.js"></script>
  <div id="background">
    <img src="C:\Users\DELL\Downloads\pexels-pixabay-260922.jpg" alt="Flowers in Chania">
  </div>
</body>
</html>
