<link rel="stylesheet" href="/css/sign.css" />
<head>
  <title>Signup</title>
  <div id="logo">
    <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
  </div>
  <style>
  
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<div class="container">
    <h1>Signup</h1>
  <input  id="un" value placeholder=" Name..." type="text" class="textfield" name="guest_name" >
  <div class="select">
  <select name="UserType">
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    </select>
  </div>
  <input id="pas" value placeholder="Password..." type="number" class="textfield" name="Password"><br><br>
    <input  class ="Submitbut" type="submit" onclick='validate()' value="sign up">
    <br>
    <p class="logtext">Already have an account? <a href="/login">Login</a></p>
  </div>
  
  
  
    
  <div class="popup" id="popup">
    <img src="/images/WhatsApp Image 2024-04-29 at 11.01.35 PM.jpeg">
  <h1>Thank you!</h1>
  <p>Your details has been successfully submitted.Thanks !</p>
  <button type="button" onclick='closePopup()'>OK</button>
  </div>
  </body>
  <script src="/js/sign.js"></script>
  
   