
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SJAK.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
    <script src="SJAK.js" defer></script>
    <title>SKAJ</title>
</head>
<body>
    <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <header>
        <h1 class="logo">SKAJ Restaurant</h1>
    </header>    

    <div class="menu-items" id="menuItems">
        <a href="#">Home</a>
        <a href="#">Cuisine</a>
        <a href="mapmenu.html">Explore the House</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="sign.html">Sign in</a>
        <a href="login.html">Login</a>


    </div>
    <div class="background"></div>
<div class="slideshow-container">
  <div class="slide fade1">
    <img src="C:\Users\DELL\Downloads\la-zisa.jpg" alt="Slide 1">
  </div>
  <div class="slide fade2">
    <img src="C:\Users\DELL\Downloads\la-zisa (1).jpg" alt="Slide 2">
  </div>
  <!-- Add more slides as needed -->
</div>

    <div id="calendar" class="calendar"></div>

    <button class="book-button">
        <span>BOOK YOUR TABLE</span>
    </button>
    <div id="background">
        <img src="C:\Users\DELL\Downloads\f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg" alt="Flowers in Chania">
      </div>
</body>
</html>
