
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/SJAK.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
    <script src="/js/SJAK.js" defer></script>
    <title>SKAJ</title>
    <style>
        body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height:100vh;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
        background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }
    </style>
</head>
<body>
    <div class="menu-toggle" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <header>
        <h1 class="logo">SKAJ Restaurant</h1>
    </header>    

    <div class="menu-items" id="menuItems">
        <a href="#">Home</a>
        <a href="#">Cuisine</a>
        <a href="/mapmenu">Explore the House</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="/sign">Sign in</a>
        <a href="/login">Login</a>


    </div>


    <div id="calendar" class="calendar"></div>

    <button class="book-button">
        <span>BOOK YOUR TABLE</span>
    </button>
    
       
</body>
</html>
