<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
</head>
<body>
  <h1>Welcome to the User Dashboard!</h1>
  <div>
    <h2>View Reservaions</h2>
    <button onclick="viewreservations()">View Reservaions</button>
    <button onclick="searchreservations()">Search Reservaions</button>
  </div>
  <div>
    <h2>Book your table</h2>
    <button onclick="bookyourtable()">Book your table</button>
  </div>
  <div>
    <h2>View History</h2>
    <button onclick="viewHistory()">View Booking History</button>
  </div>
 
  <button onclick="goToHomePage()">Homeeeeeeeeeeeeeeeeeeeeeeeeeee</button>
</body>
<script src="userdash.js"></script>

</html>
