<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <style>
    body {
font-family: 'Poppins', sans-serif;
margin: 0;
height:100vh;
padding: 0;
background-position: center;
background-attachment: fixed;
    background-image: url("/images/f3847d_da686092542e48e5a962f3b1e69456d5mv2-ezgif.com-webp-to-jpg-converter.jpg");
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
</style>
</head>
<body>
  <h1>Welcome to the User Dashboard!</h1>
  <div>
    <h2>View Reservaions</h2>
    <button onclick="viewreservations()">View Reservaions</button>
    <button onclick="searchreservations()">Search Reservaions</button>
  </div>
  <div>
    <h2>Book your table</h2>
    <button onclick="bookyourtable()">Book your table</button>
  </div>
  <div>
    <h2>View History</h2>
    <button onclick="viewHistory()">View Booking History</button>
  </div>
 
  <button onclick="goToHomePage()">Homeeeeeeeeeeeeeeeeeeeeeeeeeee</button>
</body>
<script src="/js/userdash.js"></script>

</html>
