#map { height: 400px; width: 50%;
margin-left: 430px;}
#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  margin-bottom: 0; 

}
body{
  margin:0%;
  padding: 0%;
  
}
#background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; 
}
#guessContainer {
  position: relative; 
  z-index: 1; 
  color: antiquewhite;
  margin-left: 30%;

} 
h1{
  text-align: center;
  color:rgb(197, 172, 74);
  margin-top: 60px;
}
 
.container {
  position:relative;
  margin-top: 100px;
  width: 350px;
  height: auto;
  /* background: rgba(255, 255, 255, 0.5); White color with 50% opacity */

 }
 
 .container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5); 
  margin-right: 4000px;


 }


.textfield,
input[type="text"]
 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

.field {
  margin-bottom: 20px;
}

.Field-label {
  font-size: 18px;
  color: whitesmoke;
  font-family: 'Cormorant Garamond', sans-serif; 
}
.subbut{

  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  color: whitesmoke;
 
}
.menubut{

  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

.logo {
  max-width: 300px; 
  text-align: center;
  margin-left: 640px;
  position:relative;

 }
.logo img {
  max-width: auto;
  height: auto;
  display: block;
   margin: 0 auto; 
} 
#word-container {
  text-align: center; 
  margin-bottom: 50px; 
  margin-top: 9px;
}

#word-container p {
  font-family: 'Satisfy', sans-serif; 
  font-size: 18px; 
  color:goldenrod; 
  font-size: 45px;
  text-align: center;
}
#word-container img {
  width: 44px; 
  height: 44px; 
  vertical-align: middle; 
  margin-left: 8px; 

}
